body{
    background-color: lightslategray;
}

.jumbotron{
    background-color: purple;
}

.card-header{
    background-color: gold;
}


#add-train{
    background-color: gold;
    color: gold;
}


h4{
    text-align: center;
    color: gold;
}

.text-center{
    font-size: 50px;
    color: gold;
}

h5{
    color: purple;
}

#add-user{
    background-color: purple;
}