.jumbotron{
    background-color: purple;
}

.card-header{
    background-color: gold;
}


#add-train{
    background-color: purple;
    color: gold;
}


h4{
    text-align: center;
}


#add-user{
    background-color: purple;
}